<%- include('../partials/html-head') %>

<link rel="stylesheet" href="/stylesheets/main.css" />

<%- include('../partials/nav') %>

<main>
  <h1>Flights</h1>
  <table>//pt2
    <thead>
      <tr>
        <th>Airline</th>
        <th>Airport</th>
        <th>FlightNo</th>
        <th>Departs</th>
      </tr>
    </thead>
    <tbody>
      <% flights.forEach(flight => { %>
        <tr>
          <td><%= flight.airline %></td>
          <td><%= flight.airport %></td>
          <td><%= flight.flightNo %></td>
          <td><%= flight.departs%></td>
          <td><a href="/<%=flight._id%>">Details</a></td>
          </a>
          <td>
            <form 
              action="/<%= flight._id %>?_method=DELETE" 
              method="POST"
            >
              <button type="submit">X</button>
            </form>
          </td>
        </tr>
      <% })  %>
    </tbody>
  </table>
</main>

<%- include('../partials/footer') %>